/* ========================== RESET ============================ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ========================== VARIABLES ============================ */
:root {
  --font-style: "Roboto", sans-serif;

  --primary-color: rgb(104, 104, 247);
  --primary-light-color: rgb(129, 129, 245);
}

/* ========================== DEFAULTS ============================ */
body {
  font-family: var(--font-style);

  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  gap: 4rem;

  height: 100%;
}

li {
  list-style: none;

  font-family: var(--font-style);
}

label {
  font: 800 1rem var(--font-style);
}

input {
  height: 1.5rem;
  width: 10rem;
  border: 1px solid black;
  padding: 0.25rem;
}

::placeholder {
  font-weight: 800;
  font-family: var(--font-style);
}

input:focus {
  border: 1px solid var(--primary-color) !important;
  box-shadow: 0 0 3px var(--primary-color) !important;
  -moz-box-shadow: 0 0 3px var(--primary-color) !important;
  -webkit-box-shadow: 0 0 3px var(--primary-color) !important;
  outline-offset: 0px !important;
  outline: none !important;
}

select {
  height: 1.5rem;
  width: 10rem;

  border: 1px solid black;
  color: #727272;

  font-family: var(--font-style);
}

select:focus {
  border: 1px solid var(--primary-color) !important;
  box-shadow: 0 0 3px var(--primary-color) !important;
  -moz-box-shadow: 0 0 3px var(--primary-color) !important;
  -webkit-box-shadow: 0 0 3px var(--primary-color) !important;
  outline-offset: 0px !important;
  outline: none !important;
}

button {
  width: 7rem;
  height: 2rem;

  border-radius: 4px;
  border: 1px solid var(--primary-light-color);

  background-color: var(--primary-color);
  color: whitesmoke;
  font: bold 1rem var(--font-style);

  cursor: pointer;
}

button:hover {
  background-color: var(--primary-light-color);
}

textarea {
  resize: none;
}

/* ========================== LAYOUT ============================ */
.logo {
  font-size: 1.5rem;
  font-family: var(--font-style);
  font-weight: bold;

  color: var(--primary-color);

  display: grid;
  align-items: center;
}

.logo:hover {
  color: whitesmoke;
  transition: 0.2s;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 1.5rem 0 1.5rem;
}

.invisible {
  width: 0;
}

.separator {
  width: 100%;
  border: 1px solid var(--primary-color);
}

.content {
  display: none;
}

.content.show {
  display: block;
}
/* ========================== LOGIN ============================ */
.login {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login .title {
  position: fixed;
  top: 5rem;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login .login-input {
  display: flex;
  flex-direction: column;
}

.login button {
  width: 100%;
}

/* ========================== NAV ============================ */

#header {
  width: 100%;
  height: 3.25rem;
  display: flex;
  align-items: center;

  background-color: rgb(51, 51, 51);
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul li {
  width: 10rem;
  word-wrap: break-word;

  display: flex;
  align-items: center;
  text-align: center;
}

.menu ul li:hover {
  /* background-color: var(--primary-light-color); */
  transition: 0.2s;
}

.menu ul li:hover a {
  color: var(--primary-light-color);
}

.menu ul li:hover a.header-active {
  color: whitesmoke
}

.menu ul li a {
  color: whitesmoke;
  font-weight: bold;

  width: 100%;
  height: 100%;

  display: grid;
  align-items: center;
}

.header-active {
  background-color: var(--primary-color);
}

/* ========================== MAIN ============================ */
.tabs {
  display: none;
}

div.show-tab {
  display: flex !important;
}

.header {
  width: 100%;
  background-color: var(--primary-color);
  height: 3rem;

  padding: 0 5rem 0 5rem;
}

.header ul {
  display: flex;
  align-items: flex-end;
}

.header li {
  background-color: whitesmoke;
  padding: 0.5rem 1rem;
  /* border-bottom: 1px solid var(--primary-light-color); */
}

.header a {
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.header a.management-tab-active {
  color: var(--primary-color);
}

.header a:hover {
  color: var(--primary-light-color);
}

.header a.main-tab-active:hover {
  color: var(--primary-color);
}

/* ========================== MAIN ============================ */
#main {
  width: 100vw;
}

/* ========================== WAREHOUSE-MANAGEMENT ============================ */
#warehouse-management {
  flex-direction: column;
}

.management-tabs {
  display: none !important;
}

/* ================= PRODUCTS TAB =================== */
#products {
  width: 100%;
  display: flex;
  justify-content: center;
}

#products .filter {
  width: 100%;

  margin: 2rem 0;

  display: flex;
  justify-content: center;
}

.filter form {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  align-items: flex-end;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter form button {
  margin-left: 2rem;
}

.localization {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loc_inputs input {
  width: 6rem;
}

.sheet {
  margin: 0 2rem;
}

.sheet table tr td {
  text-align: center;
}

/* ================= CREATE PRODUCT TAB =================== */
#products {
  flex-direction: column;
}

#create-product {
  margin: 2rem 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#create-product .title {
  text-align: center;
  margin-bottom: 2.5rem;
}

.create-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.create-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-type {
  display: none;
}

.create_loc_inputs input {
  width: 5rem;
}

/* ================= UPDATE PRODUCT TAB =================== */
#update-product {
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  margin: 3rem 0;
}

.update-form form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.update-form form .update-middle {
  display: flex;
  gap: 2rem;
}

.update-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#update-product ::placeholder {
  text-align: center;
}

/* =================  DELETE PRODUCT TAB =================== */
#delete-product {
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  margin: 3rem 0;
}

.delete-form {
  width: 100%;
}

.delete-form form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.delete-form form .delete-middle {
  display: flex;
  gap: 2rem;
}

.delete-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#delete-product ::placeholder {
  text-align: center;
}

.delete-bottom {
  width: 100%;
}